<p>receipe-detail works!</p>
<div class="image-parent">
    <img [src]="receipe.imagepath" class="img-fluid" alt="receipe.name">
</div>
<div class = "row">
    <div class = ".col-lg-12">
    <h1>{{receipe.name}}</h1>
    </div>
</div><br>
<!-- Example single danger button -->
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">To shopping list</a></li>
      <li><a class="dropdown-item" href="#">Edit Recepe</a></li>
      <li><a class="dropdown-item" href="#">Delete Receipe</a></li>
    </ul>
  </div>
  <div class="row">

    <div class="col-xs-12">
      {{receipe.description}}
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12">
     Ingredients
    </div>

  </div>

<!----div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
      Shopping List
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li><button class="dropdown-item" type="button">Action</button></li>
      <li><button class="dropdown-item" type="button">Edit Receipe</button></li>
      <li><button class="dropdown-item" type="button">Delete Receipe</button></li>
    </ul>
  </div>------>
