<div class = "row">
    <div class = ".col-lg-12">
    <button type="button" class="btn btn-primary">Add New Receipe</button>
    </div>
</div><br>


  <!--<div class="form-group">
    <label for="exampleInputEmail1">Name </label>
    <input type="text" class="form-control" id="Name" aria-describedby="Name" placeholder="Enter Name"><hr>
    
  </div>
  <button type="button" class="btn btn-primary">Primary</button>&nbsp;
  <button type="button" class="btn btn-success">Success</button>&nbsp;
  <button type="button" class="btn btn-danger">Danger</button>&nbsp;


<!---<app-receipe-item *ngFor = "let receipeEl of receipes" [receipe] = "receipeEl"
(receipeSelected) = "onReceipeSelected(receipeEl)"></app-receipe-item>--->

<app-receipe-item *ngFor="let receipeEl of receipes"
 [receipe]="receipeEl"

(receipeSelected)="onReceipeSelected(receipeEl)"></app-receipe-item>